<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>관리자 페이지</title>
</head>

<th:block layout:fragment="script">
  <script th:src="@{/js/community/community.js}"></script>
</th:block>

<div class="container-fluid" layout:fragment="content">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">커뮤니티 관리</h1>
  </div>
  <div class="button-wrap">
    <span class="insert-btn">
      <button type="button" class="btn btn-primary" th:onclick="handleInsertForm()">
        신규등록
      </button>
    </span>
    <span class="delete-btn">
      <button class="btn btn-danger" th:onclick="handleDelete()">삭제</button>
    </span>
    <span class="search-btn">
      <select id="searchType" class="form-select-sm ">
        <option value="3">제목</option>
        <option value="5">작성자</option>
      </select>
      <input type="text" id="searchInput" class="form-control bg-light border-1 d-inline-block" onkeyup="if(window.event.keyCode ==13){searchBtn()}" placeholder="Search..." style="padding-bottom: 0.7rem; width: 60% !important;">
      <button class="btn btn-primary" id="searchBtn" th:onclick="searchBtn()"><i class="fas fa-search fa-sm"></i></button>
    </span>
  </div>
  <table id="community_table" class="table table-hover" style="width: 100%">
    <thead>
    <tr>
      <th scope="col" style="text-align: center"><input type="checkbox" id="checkall"></th>
      <th scope="col">번호</th>
      <th scope="col">카테고리</th>
      <th scope="col">제목</th>
      <th scope="col">작성일자</th>
      <th scope="col">작성자</th>
      <th scope="col">상태</th>
    </tr>
    </thead>
  </table>
  <!-- 등록 모달 -->
  <th:block th:replace="pages/community/insertModal :: insertModal"></th:block>

  <!-- 상세보기 / 수정 모달 -->
  <th:block th:replace="pages/community/detailModal :: detailModal"></th:block>

</div>
</html>
