<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="detailModal">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">상세보기</h5>
        <button type="button" th:onclick="handleCloseModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editForm">
          <input type="hidden" name="id" id="edit_id">
          <div class="mb-4 w-25">
            <label for="edit_stateInput" class="form-label">분류</label>
            <select id="edit_stateInput" name="category" class="form-select">
              <option th:value="loan">대출</option>
              <option th:value="windstorm">풍수해</option>
              <option th:value="event">이벤트</option>
              <option th:value="bizsupport">지원정책</option>
              <option th:value="promotion">홍보</option>
            </select>
          </div>
          <div class="mb-4 w-25">
            <label for="edit_createdBy" class="form-label">작성자</label>
            <input type="text" class="form-control" name="title" id="edit_createdBy" disabled>
          </div>
          <div class="mb-4 w-25">
            <label for="edit_createdDate" class="form-label">작성일자</label>
            <input type="text" class="form-control" name="title" id="edit_createdDate" disabled>
          </div>
          <div class="mb-4 w-25">
            <label for="edit_updatedBy" class="form-label">수정자</label>
            <input type="text" class="form-control" name="title" id="edit_updatedBy" disabled>
          </div>
          <div class="mb-4 w-25">
            <label for="edit_updatedDate" class="form-label">수정일자</label>
            <input type="text" class="form-control" name="title" id="edit_updatedDate" disabled>
          </div>
          <div class="mb-4 w-25">
            <label for="edit_deleteYn" class="form-label">상태</label>
            <select select id="edit_deleteYn" name="status" class="form-select">
              <option th:value="N">활성</option>
              <option th:value="Y">비활성</option>
            </select>
          </div>
          <div class="mb-4">
            <label for="edit_titleInput" class="form-label">제목</label>
            <input type="text" class="form-control" name="title" id="edit_titleInput" placeholder="제목을 입력하세요">
          </div>
          <div class="mb-4">
            <label for="summernote_detail" class="form-label">내용</label>
            <textarea id="summernote_detail" type="text" th:class="form-control" name="boardContents" rows="10"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:onclick="handleCloseModal()">닫기</button>
        <button type="submit" class="btn btn-primary" th:onclick="handleEdit()">수정</button>
      </div>
    </div>
  </div>
</div>
</html>
