<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}"
      xmlns:th="http://www.thymeleaf.org" >

<head>
  <meta charset="utf-8">
  <title>관리자 페이지</title>
</head>
<div class="container-fluid" layout:fragment="content">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">테스트 페이지</h1>
  </div>
  <div class="row">
    <div class="col-xl-8 col-lg-7">
      테스트 페이지@@@@@@@@@@@@@@@@@@@@@
      <table class="table">
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
  </div>
</div>
</div>
</div>
</div>
</html>
