<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>정책 페이지</title>
</head>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/policy/policy.js}"></script>
</th:block>

<div class="container-fluid" layout:fragment="content">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">정책</h1>
    </div>
    <div class="button-wrap">
    <span class="insert-btn">
        <button type="button" class="btn btn-primary" th:onclick="handleInsertPolicy()">
            신규등록
        </button>
    </span>
        <span class="delete-btn">
      <button class="btn btn-danger" type="submit" name="delList">삭제</button>
    </span>
    </div>
    <table id="policy_table" class="table table-hover"  style="width: 100%">
        <thead>
        <tr>
            <th scope="col"><input type="checkbox" name="checkall" id="checkall" /></th>
            <th scope="col">번호</th>
            <th scope="col">정책</th>
            <th scope="col">생성일자</th>
            <th scope="col">상태 </th>
        </tr>
        </thead>
        <tbody>
    </table>
    <!-- 정책공지 신규 등록 모달 -->
    <div class="modal fade" id="policyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">정책 공지 등록</h5>
                    <button type="button" th:onclick="handleCloseModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="insertForm">
                        <div class="mb-4 w-25">
                            <label for="policyInput" class="form-label">정책</label>
                            <select id="policyInput" name="category" class="form-select">
                                <option selected th:value="01">정책자금</option>
                                <option th:value="02">소상공인 창업지원</option>
                                <option th:value="03">소상공인 성장지원</option>
                                <option th:value="04">소상공인 대출지원</option>
                                <option th:value="05">소상공인 재기지원</option>
                                <option th:value="06">소상공인 특화지원</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:onclick="handleCloseModal()">닫기</button>
                    <button type="submit" class="btn btn-primary" th:onclick="handleSave()">저장</button>
                </div>
            </div>
        </div>
    </div>

    <!--정책공지 수정 모달    -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">상세보기</h5>
                    <button type="button" th:onclick="updateCloseModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <input type="hidden" name="id" id="edit_id">
                        <div class="mb-4 w-25">
                            <label for="policyEditInput" class="form-label">정책</label>
                            <select id="policyEditInput" name="category" class="form-select">
                                <option selected th:value="01">정책자금</option>
                                <option th:value="02">소상공인 창업지원</option>
                                <option th:value="03">소상공인 성장지원</option>
                                <option th:value="04">소상공인 창업지원</option>
                                <option th:value="05">소상공인 재기지원</option>
                                <option th:value="06">소상공인 특화지원</option>
                            </select>
                        </div>
<!--                        <div class="mb-4 w-25">-->
<!--                            <label for="update_createdBy" class="form-label">작성자</label>-->
<!--                            <input type="text" class="form-control" name="createdBy" id="update_createdBy" disabled>-->
<!--                        </div>-->
<!--                        <div class="mb-4 w-25">-->
<!--                            <label for="update_updatedBy" class="form-label">수정자</label>-->
<!--                            <input type="text" class="form-control" name="updatedBy" id="update_updatedBy" disabled>-->
<!--                        </div>-->
<!--                        <div class="mb-4 w-25">-->
<!--                            <label for="update_createdDate" class="form-label">작성일자</label>-->
<!--                            <input type="text" class="form-control" name="createdDate" id="update_createdDate" disabled>-->
<!--                        </div>-->

<!--                        <div class="mb-4 w-25">-->
<!--                            <label for="update_updatedDate" class="form-label">수정일자</label>-->
<!--                            <input type="text" class="form-control" name="title" id="update_updatedDate" disabled>-->
<!--                        </div>-->
<!--                        <div class="mb-4 w-25">-->
<!--                            <label for="edit_deleteYn" class="form-label">상태</label>-->
<!--                            <select select id="edit_deleteYn" name="status" class="form-select">-->
<!--                                <option th:value="N">활성</option>-->
<!--                                <option th:value="Y">비활성</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="mb-4">-->
<!--                            <label for="summernoteEdit" class="form-label">내용</label>-->
<!--                            &lt;!&ndash;                            <textarea type="text" class="form-control" name="content" id="contentInput" rows="15" placeholder="내용을 입력하세요"></textarea>&ndash;&gt;-->
<!--                            <textarea id="summernoteEdit" type="text" th:class="form-control" name="boardContents" rows="10"></textarea>-->
<!--                        </div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:onclick="updateCloseModal()">닫기</button>
                    <button type="submit" class="btn btn-primary" th:onclick="handleEdit()">수정</button>
                </div>
            </div>
        </div>
    </div>






</div>
</html>
