<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<div class="modal fade" id="insertFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="insertModal">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">설계사 등록</h5>
        <button type="button" th:onclick="handleCloseModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="insertForm">
          <div class="mb-4 w-25">
            <label for="companyInput" class="form-label">회사명</label>
            <input type="text" class="form-control" name="companyName" id="companyInput" placeholder="회사명을 입력하세요">
          </div>
          <div class="mb-4 w-25">
            <label for="idInput" class="form-label">설계사ID</label>
            <input type="text" class="form-control" name="insu_id" id="idInput" placeholder="아이디를 입력하세요">
          </div>
          <div class="mb-4 w-25">
            <label for="nameInput" class="form-label">설계사명</label>
            <input type="text" class="form-control" name="insu_name" id="nameInput" placeholder="이름을 입력하세요">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:onclick="handleCloseModal()">닫기</button>
        <button type="submit" class="btn btn-primary" th:onclick="handleSave()">저장</button>
      </div>
    </div>
  </div>
</div>
</html>
